{% extends "efetch_layout.html" %}

{% block head %}
<style> 
    table { 
        overflow-y: scroll; 
        width: 100%; 
        font-family: monospace;
        white-space: pre;
    } 
</style>
{% endblock %}

{% block body %}
<table>
    <thead>
    <tr>
        {% for item in header %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
