argparse>=1.2.1
bottle>=0.12.8
dfvfs>=20150708
elasticsearch>=2.1.
Jinja2>=2.1
pefile>=1.2.10_139
Yapsy>=1.11.223
Pillow>=3.3.0
Registry>=0.4.2
python_magic>=0.4.12
Requests>=2.10.0
ExifRead>=2.1.0
rison>=1.0
Rocket>=1.2.0
python-registry>=1.0