table {
	width: 100%;
    border-collapse: collapse;
}
table#t01 {
	overflow-y: scroll;
	width: 100%;
}
table th {
	background-color: #444;
	color: white;
}
td, th {
	text-align: left;
	padding-left: 8px;
}
tr {
    height: 15px;
}
tr:nth-child(odd) {
	background-color: #f1f1f1;
}
xmp {
	margin: 0px;
}
img#loading_icon {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
}
//Scrollbar
html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

